html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: url(../images/login_bg.jpg) no-repeat;
    background-size: cover;
}

/* 登陆注册框 */

.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* 登陆注册框的标题 */

.title-box {
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center;
}

/* 默认隐藏注册框 */

.reg-box {
    display: none;
}

.layui-form {
    padding: 0px 30px;
}

.links {
    /* float: right; */
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-size: 12px;
}
/* 登陆框里的小图标位置 */
.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 30px;
}